#body {
    display: flex;
    flex-direction: row;
    width: 820px;
    height: 700px;
    margin-left: 300px;
}

#left form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
}

#right form {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
}

